@font-face {
  font-family: 'SegoeWP';
  src: url(SegoeWP.ttf);
}

div {
  font-family: 'SegoeWP';
}

.imageblock {
  position: relative;
  width: 480px;
  height: 800px;
  margin-top: 15px;
}

.imagecredit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 480px;
  height: 0px;
  background-color: #556270;
  visibility: hidden;
}

.textdiv {
  position: absolute;
  top: 597px;
  left: 24px;
  width: 456px;
  height: 203px;
  font-family: 'SegoeWP';
  font-size: 24px;
  color: white;
}

.backimg {
  position: absolute;
  top: 50px;
  width:200px;
  height:200px;
  z-index: 1;
}

#svgimg {
  position: absolute;
  top: 100px;
  z-index: 0;
}
